<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/RockList">RockyList</a>
    </div>
    <div class="collapse navbar-collapse" id="top-navbar">
      <ul class="nav navbar-nav text-center">
        <li>
          <a href="/RockList/List?list=got-list">got-list</a>
        </li>
        <li>
          <a href="/RockList/List?list=wish-list">wish-list</a>
        </li>
        <li>
          <a href="/RockList/List?list=disc-list">disc-list</a>
        </li>
      </ul>
      <div class="navbar-form navbar-left">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="search" id="xd_search"/>
          <div class="input-group-btn">
            <button id="xd_btn-search" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
